.userPainel {
    justify-content: center;
    position: relative;
    background-color: white;
    margin-top: 10%;
    border-radius: 15px;
    padding: 25px;
}

.list {
    display: flex;
    display: -webkit-flex;
    text-align: left;
    padding: 15px;
}

.listLeft {
    text-align: left;
    border-radius: 15px;
    flex: 1;
    -ms-flex: 1;
    padding: 10px;
    -webkit-flex: 1;
}

.listRight {
    margin-top: 10%;
    text-align: left;
    border-radius: 15px;
    margin-left: 10px;
    -ms-flex: 1;
    -webkit-flex: 1;
}

p {
    font-size: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(15, 161, 187);
    color: white;
    cursor: pointer;
}

h3 {
    margin-top: 10px;
}
